<a href="https://colab.research.google.com/github/Maheshlanjewar/oibsip_5/blob/main/Sales_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Oasis Infobyte/Sales prediction/Advertising.csv')
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [ ]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
df.tail()

     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [ ]:
df.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [ ]:
df.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.shape

(200, 5)

In [ ]:
df.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [ ]:
df = df.drop(columns=['Unnamed: 0'])

In [ ]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [ ]:
 x = df.iloc[:,:4]
 x

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [ ]:
y =df.iloc[:,-1]
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(x,y, test_size = 0.2, random_state = 0)

In [ ]:
train_x

        TV  Radio  Newspaper  Sales
134   36.9   38.6       65.6   10.8
66    31.5   24.6        2.2    9.5
26   142.9   29.3       12.6   15.0
113  209.6   20.6       10.7   15.9
168  215.4   23.6       57.6   17.1
..     ...    ...        ...    ...
67   139.3   14.5       10.2   13.4
192   17.2    4.1       31.6    5.9
117   76.4    0.8       14.8    9.4
47   239.9   41.5       18.5   23.2
172   19.6   20.1       17.0    7.6

[160 rows x 4 columns]

In [ ]:
test_x

        TV  Radio  Newspaper  Sales
18    69.2   20.5       18.3   11.3
170   50.0   11.6       18.4    8.4
107   90.4    0.3       23.2    8.7
98   289.7   42.3       51.2   25.4
177  170.2    7.8       35.2   11.7
182   56.2    5.7       29.7    8.7
5      8.7   48.9       75.0    7.2
146  240.1    7.3        8.7   13.2
12    23.8   35.1       65.9    9.2
152  197.6   23.3       14.2   16.6
61   261.3   42.7       54.7   24.2
125   87.2   11.8       25.9   10.6
180  156.6    2.6        8.3   10.5
154  187.8   21.1        9.5   15.6
80    76.4   26.7       22.3   11.8
7    120.2   19.6       11.6   13.2
33   265.6   20.0        0.3   17.4
130    0.7   39.6        8.7    1.6
37    74.7   49.4       45.7   14.7
74   213.4   24.6       13.1   17.0
183  287.6   43.0       71.8   26.2
145  140.3    1.9        9.0   10.3
45   175.1   22.5       31.5   14.9
159  131.7   18.4       34.6   12.9
60    53.5    2.0       21.4    8.1
123  123.1   34.6       12.4   15.2
179  165.6   10.0       17.6   12.6
185  205.0   45.1       19.6   22.6
122  224.0    2.4       15.6   11.6
44    25.1   25.7       43.3    8.5
16    67.8   36.6      114.0   12.5
55   198.9   49.4       60.0   23.7
150  280.7   13.9       37.0   16.1
111  241.7   38.0       23.2   21.8
22    13.2   15.9       49.6    5.6
189   18.7   12.1       23.4    6.7
129   59.6   12.0       43.1    9.7
4    180.8   10.8       58.4   12.9
83    68.4   44.5       35.6   13.6
106   25.0   11.0       29.7    7.2

In [ ]:
train_y

134    10.8
66      9.5
26     15.0
113    15.9
168    17.1
       ...
67     13.4
192     5.9
117     9.4
47     23.2
172     7.6
Name: Sales, Length: 160, dtype: float64

In [ ]:
test_y

18     11.3
170     8.4
107     8.7
98     25.4
177    11.7
182     8.7
5       7.2
146    13.2
12      9.2
152    16.6
61     24.2
125    10.6
180    10.5
154    15.6
80     11.8
7      13.2
33     17.4
130     1.6
37     14.7
74     17.0
183    26.2
145    10.3
45     14.9
159    12.9
60      8.1
123    15.2
179    12.6
185    22.6
122    11.6
44      8.5
16     12.5
55     23.7
150    16.1
111    21.8
22      5.6
189     6.7
129     9.7
4      12.9
83     13.6
106     7.2
Name: Sales, dtype: float64

In [ ]:
train_x =  train_x.astype(int)
train_y = train_y.astype(int)
test_x = test_x.astype(int)
test_y = test_y.astype(int)

In [ ]:
from sklearn.preprocessing import StandardScaler
sd = StandardScaler()

In [ ]:
train_x = sd.fit_transform(train_x)
test_y = sd.fit_transform(test_x)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [ ]:
lr.fit(train_x, train_y)

LinearRegression()

In [ ]:
pred_y = lr.predict(test_x)
pred_y

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:413: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

array([199.86827759, 146.28561623, 200.60980187, 660.99046007,
       361.09418093, 153.66544233, 157.88513828, 470.30325981,
       164.22676632, 432.47259907, 612.49026681, 218.23487761,
       312.54651829, 407.134405  , 222.70479763, 286.3906914 ,
       538.2708084 ,  78.03790732, 273.84976032, 463.21859883,
       672.75614301, 284.54105385, 397.58443168, 313.39238783,
       139.81020872, 319.49078347, 349.91851878, 497.45174459,
       434.23533396, 138.17076864, 275.21709673, 516.64350328,
       570.90823202, 547.58135008,  98.25567239,  90.83394309,
       179.40945533, 397.7488593 , 248.14838878, 107.24204352])

In [ ]:
from sklearn.metrics import r2_score
r2_score(test_y,pred_y)

0.9222988021105912